<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>HOME</title>
</head>

<body>
    <form>
        <label>SINEC</label><br>
        <input type="text" id="edtBuscar">
        <button id="btnBuscar">Buscar</button>
        <br><br>
        Nombres:
        <input type="text" disabled><br>
        Apellidos:
        <input type="text" disabled><br>
        Empresa:
        <input type="text" disabled><br>
        Fecha de Ingreso:
        <input type="text" disabled><br>
        Nro. Matricula:
        <input type="text" disabled><br>
        Fecha de Nacimiento:
        <input type="text" disabled><br>
        Tipo de Sangre:
        <input type="text" disabled><br>
    </form>
</body>

</html>