<!DOCTYPE html>
<html lang="en">

<% include resources.ejs %>


<body>
    <% include menu.ejs %>
    <main>
        <div class="container">
            <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo similique ipsum tenetur assumenda
                laboriosam
                quibusdam debitis asperiores nihil. Labore iure obcaecati excepturi optio omnis quos quam nesciunt fuga
                maxime
                est.</label>

        </div>
    </main>
    <% include footer.ejs %>
</body>

</html>